.imageBox {
  width: 160px;
  display: inline-block;
}

.invis {
  visibility: hidden;
}

.img-language {
  max-width: 70px;
  max-height: 90px;
  margin: 15px;
}

.img-language:hover {
  transform: scale(1.5, 1.5);
}
