.lang-size {
  display: flex;
  justify-content: space-around;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5.7%;
  margin-bottom: 5.7%;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 10px;
}
