.skill-lang {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 10%;
}
.column1 {
}

.down-button {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.invisible {
  visiblity: hidden;
}
